
/* Add your profile image here */
.Photo{
    background-image: url('/src/styles/2.jpeg');
}
/* Projects Photo */
.project-be-chef{
    background-image: url('/src/styles/be-chef-screen.png');
    cursor: none;    
}
.project-sabor-latino{
    background-image: url('/src/styles/sabor-latino.png');
    cursor: none;
}
.project-game{
    background-image: url('/src/styles/game-oliver.png');
    cursor: none;
}
.project-truco{
    background-image: url('/src/styles/truco.png');
    cursor: none;
}
.project-SD{
    background-image: url('/src/styles/SD.png');
    cursor: none;
}
.project-list{
    background-image: url('/src/styles/contacts.png');
    cursor: none;
}
/* Miscelaneous Activities photo */
.misc1{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+one');
    cursor: none;
}
.misc2{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+two');
    cursor: none;
}
.misc3{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+three');
    cursor: none;
}